@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
    margin: 0px;
    font-family: 'Abel', sans-serif;
}

#wrapper {
    background-image: url("images/coco.jpg");
    height: 750px;
    margin: auto;
    margin-top: 3%;
    width: 1300px;
}

h1,
p {
    color: white;
    margin-bottom: 5%;
}

img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation-name: grijseff;
    animation-duration: 8s;
    animation-iteration-count: infinite;

}

.tekst {
    position: relative;
    float: right;
    width: 50%;
    margin: 5%;
    margin-top: 200px;
}

a {

    text-decoration: none;
    color: aliceblue;
    background-color: orange;
    padding: 15px;
    border-radius: 10px;
    transition: 0.5s;

}

a:hover {
    padding-right: 30%;
    padding-left: 30%;
    font-size: 40px;
}



@keyframes grijseff {
    0% {
        filter: grayscale(0%);
    }

    50% {
        filter: grayscale(100%);
    }

    100% {
        filter: grayscale(0%);
    }
}